.body {
    transform: scale(0.95);

}




.chemical-element {
              font-size: 30px ;
              font-weight: bold;
              text-align: left;
}
div ul{
    border-style:groove;
    border-width: 3px;
    width: 30%;
    height: 50%;
    margin:1% auto;
    left: 1%;
    top: 55%;
    font-weight:bold;
    list-style-type: circle;
    color:#155bcb;
    list-style-type: none;
    padding-left: 2%;
    text-align: left;
    
 }

table {

    margin:0 auto;

    left: 50%;
    top: 57%;


}

p.CHEMİCAL-RESİSTANCE-TABLE {
    margin:0 auto;
    top: 50%;
    left: 55%;
    

}


p.contents {
      font-size: 30px;   
      font-weight: bold;   
        
}




.rabbit {

    color: #fffffd;
}

::selection {
    color: white;
    background-color: #509055;
    }

    * {
        /* Reset browser's padding and margin */
        margin:30;
        padding: 30;
        box-sizing: border-box; 
      }
      
      body {
        background: #ffffff;
      }
      
      input[type=text] {
        border: 2px solid green;
        border-radius: 4px;
      }
      
      
      