html {
  padding-bottom: 5px;
  font-size: 14px;
}
  


.body{
  background: #fffffd;
  text-align: center;
  
}


.chemical-element {
              font-size: 30px ;
              font-weight: bold;
              text-align: left;
}
div ul{
   
    border-style:groove;
    border-width: 3px;
    width: 590px;
    height: 50%;
    margin:0 auto;
    left: 1%;
    top: 55%;
    font-weight:normal;
    list-style-type: circle;
    list-style-type: none;
    padding-left: 2%;
    text-align: left;
    
 }


table {

    margin:0 auto;

    left: 50%;
    top: 57%;
    color: black;
    border-color: #222;

}

p.CHEMİCAL-RESİSTANCE-TABLE {
    margin:0 auto;
    top: 50%;
    left: 55%;
    
    

}


p.contents {
      font-size: 30px;   
      font-weight: bold;   
        
}


::selection {
    color: #fffffd;
    background-color: #509055;
    }

    * {
        
        margin: 70;;
        padding: 50;
        box-sizing: border-box; 
      }
      
      body {
        background: #fffffd;
      }
      
      input[type=text] {
        border: 3px solid #509055;
        border-radius: 20px;
        
      }
      

      p.wakanda {
        font-size:small
        
        
      }


     
    .imece{
     
       width: 550px;
       height: 300px;
    }
      
     
     .ams {
         border-color: #509055;
      border-radius: 45%;
      padding: 5px;
      padding-top: 5px;
      float: left;
      position: absolute;
      top: 22px;
      left:295px;
      
     
    }
      

  .bms{
    border-color: #509055;
    float: left;
    position: absolute;
    top: 25px;
    left: 20px;
  }

 


 body{
  padding-bottom: 1%;
  text-align:center;
  }
  img{
      height:140px;
          width:140px;
  }
  h1{
  color: #509055;
  }
  .mode {
      float:right;
      padding: 1%;
  }
  .change {
      cursor: pointer;
      border: 1.5px solid #1ba750;
      border-radius: 45%;
      width: 20%;
      text-align: justify;
      padding: 12px;
      padding-top: 10px;

      
 
      
  }
  .dark{
      background-color: #222;
      color: #fffffd;
  }
 
  header {
    
      background-color:#303030;
      color:#fffffd;
      padding: 10px;
      text-align:center;
      
      
      

     
      
    
  }

.annen {

  color: #303030;
  
}


section {
    padding:2% 2% 2% 2%;

    
 
}



.hide {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 
}

.afffa{
  position: absolute;
  top: 28px;
  right: 20px;
  float: right;
}


.abundance {
  float: right;

  width: 280px;
  height: 370px;

}
.amege{
  
  width: 270px;
  height: 370px;
}
.kararname {
  text-align: left; 
}
.bemewe {
  float: center;
  width: 576px;
  height: 258px;
}