.body{
  background: #fffffd;
}




.chemical-element {
              font-size: 30px ;
              font-weight: bold;
              text-align: left;
}
div ul{
    border-style:groove;
    border-width: 3px;
    width: 50%;
    height: 50%;
    margin:1% auto;
    left: 1%;
    top: 55%;
    font-weight:bold;
    list-style-type: circle;
    list-style-type: none;
    padding-left: 2%;
    text-align: left;
    
 }

table {

    margin:0 auto;

    left: 50%;
    top: 57%;
    color: black;

}

p.CHEMİCAL-RESİSTANCE-TABLE {
    margin:0 auto;
    top: 50%;
    left: 55%;
    

}


p.contents {
      font-size: 30px;   
      font-weight: bold;   
        
}




.rabbit {

    color: #fffffd;
}

::selection {
    color: #fffffd;
    background-color: #509055;
    }

    * {
        
        margin: 70;;
        padding: 50;
        box-sizing: border-box; 
      }
      
      body {
        background: #fffffd;
      }
      
      input[type=text] {
        border: 3px solid #509055;
        border-radius: 20px;
        padding-bottom: 0.8%;
      }
      

      p.wakanda {
        font-size:small
        

        
      }


     
    .imece{

       width: 40%;
       height: 40%;
    }
      
     
     .ams {
         border-color: #509055;
      border-radius: 20px;
      padding: 6px;
      
     }


  .bms{
    border-color: #509055;
    padding: 5px;
    
    
  }
  
  body{
    padding:4% 5% 5% 4%;
    text-align:center;
    
    }
    img{
      height:140px;
        width:140px;
    }
    h1{
    color: #509055;
    }
    .mode {
      float:right;
    }
    .change {
      cursor: pointer;
      border: 1px solid #555;
      border-radius: 70px;
      width: 20px;
      text-align: center;
      padding: 15px;
      margin-left: 8px;
      padding-bottom: 15px;
      padding-top: 15px;
      
    }
    .dark{
      background-color: #222;
      color: #fffffd;
      
    }

    