.body{
  background: #fffffd;
  text-align: center;
  margin: auto;
}


.chemical-element {
              font-size: 30px ;
              font-weight: bold;
              text-align: left;
}
div ul{
    border-style:groove;
    border-width: 3px;
    width: 50%;
    height: 50%;
    margin:1% auto;
    left: 1%;
    top: 55%;
    font-weight:bold;
    list-style-type: circle;
    list-style-type: none;
    padding-left: 2%;
    text-align: left;
    
 }

table {

    margin:0 auto;

    left: 50%;
    top: 57%;
    color: black;
    border-color: #222;

}

p.CHEMİCAL-RESİSTANCE-TABLE {
    margin:0 auto;
    top: 50%;
    left: 55%;
    
    

}


p.contents {
      font-size: 30px;   
      font-weight: bold;   
        
}


::selection {
    color: #fffffd;
    background-color: #509055;
    }

    * {
        
        margin: 70;;
        padding: 50;
        box-sizing: border-box; 
      }
      
      body {
        background: #fffffd;
      }
      
      input[type=text] {
        border: 3px solid #509055;
        border-radius: 20px;
        
      }
      

      p.wakanda {
        font-size:small
        
        
      }


     
    .imece{
     
       width: 40%;
       height: 40%;
    }
      
     
     .ams {
         border-color: #509055;
      border-radius: 20px;
      padding: 0.3%;

     }


  .bms{
    border-color: #509055;
    

 }


 body{
  padding-bottom: 1%;
  text-align:center;
  }
  img{
      height:140px;
          width:140px;
  }
  h1{
  color: #509055;
  }
  .mode {
      float:right;
      padding: 0.3%;
  }
  .change {
      cursor: pointer;
      border: 1.5px solid #1ba750;
      border-radius: 40%;
      width: 20px;
      text-align: center;
      padding: 7px;
      margin-right: 12px;
      
  }
  .dark{
      background-color: #222;
      color: #fffffd;
  }
 
  header {
    
      background-color:#4d4d4d;
      color:#fffffd;
      padding: 12px;
      text-align:center;

     
      
    
  }

.annen {

  color: #4d4d4d;
  
}


section {
    padding:2% 2% 2% 2%;
    
 
}



.hide {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}